@font-face {
    font-family: "JetBrains Mono";
    src: url('./JetBrainsMonoNL-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "JetBrains Mono Nerd Font";
    src: url('./JetBrains Mono Regular Nerd Font Complete Mono.woff2') format('woff2');
}

pre {
    font-family: 'JetBrains Mono Nerd Font', monospace;
    font-size: 14px;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden !important;
    font-family: 'JetBrains Mono', sans-serif;
    margin: 0;
    padding: 0;
    cursor: url(qogir-cursor_000.png), auto;
}

img {
    display: block;
}

svg {
    filter: drop-shadow(0px 0 20px #000);
}

*::selection {
    background: transparent;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url(./wp9295928.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.terminal-window {
    position: absolute;
    top: 35px;
    left: 13px;
    background-color: #25273a7c;
    border: 1px solid #12131d2f;
    border-radius: 7px;
}

.terminal-titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 8px;
    color: #fff;
    font-size: 14.5px;
    margin-bottom: 6px;
}

.terminal-titlebar p {
    margin: 0;
}

.terminal-button {
    background-color: #323643;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
}

.actions-button {
    border-radius: 999px;
    align-items: center;
    height: 18px;
    width: 18px;
    padding: 5px;
    margin: auto 3px;
}

.actions-button img {
    opacity: 0;
    transition: ease .15s;
}

.actions-button[style="background-color: #FD7D00;"]:hover img {
    opacity: 1;
}

.actions-button[style="background-color: #377CF1;"]:hover img {
    opacity: 1;
}

.actions-button[style="background-color: #D31919;"]:hover img {
    opacity: 1;
}

.terminal-button svg {
    display: block;
}

.terminal-box {
    background: rgba(0, 0, 0, 0.425);
    color: #fff;
    padding: 0 1em;
    border-radius: 3px;
    margin: 2px;
}

.cover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    background-color: rgba(0, 0, 0, 0.300);
    width: auto;
    margin: 5px 13px;
    border-radius: 6px;
    color: #fff;
    padding: 3px;
}

.menubar {
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.menubar-item {
    border-radius: 10px;
    transition: ease .1s;
    width: fit-content;
    padding: 0 20px;
    cursor: default;
}

.menubar-item:nth-child(1){
    border-radius: 5px;
}

.menubar-item:nth-child(3){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 10px;
}

.menubar-item:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

.menu-item-2 {
    background-color: #12012D;
    color: #fff;
    border-radius: 15px;
    border: 0.5px solid rgba(255, 255, 255, 0.137);
    margin: 14px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transition-duration: .1s;
    transition-property: all;
    transform: translateY(20px);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    z-index: 2;
    visibility: hidden;
    font-weight: normal;
    opacity: 0;
}

.menu-item-2 div {
    transition-duration: .1s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    visibility: hidden;
    opacity: 0;
}

.menubar-item:last-child:focus .menu-item-2{
    transform: translateY(27px);
    visibility: visible;
    opacity: 1;
}

.menubar-item:last-child:focus .menu-item-2 div{
    visibility: visible;
    opacity: 1;
}

.menubar-item-text {
    padding-top: 1px;
    text-shadow: 0px 0 20px #000;
}

.dock {
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    display: flex;
}

.dock * {
    cursor: default;
}

.dock-item {
    margin: 2px;
    padding: 10px;
    border-radius: 17px;
    transition: ease .1s;
}

.vertical-line {
    width: 1px;
    height: 30px;
    margin: auto 5px;
    background-color: rgba(126, 126, 126, 0.658);
}

.horizontial-line {
    width: auto;
    height: 1px;
    background-color: rgba(126, 126, 126, 0.658);
}

.dock .vertical-line {
    display: block;
}

.dock .horizontial-line {
    display: none;
}

.dock-item:hover {
    background-color: rgba(255, 255, 255, 0.116);
}

.dock-item:active {
    background-color: rgba(255, 255, 255, 0.185);
}

.menu-items {
    display: flex;
    margin: 7px;
    font-size: 13px;
    padding: 8px 12px;
    border-radius: 8px;
    transition: ease .1s;
}

.menu-items:hover {
    background-color: #1A0141;
}

.menu-items span {
    margin-left: 5px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 230px;
      height: 4px;
      border-radius: 25px;
      -webkit-appearance: none;
      background-color: #2E1A4D;
      margin: auto 0;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
        border-radius: 25px;
      height: 4px;
      -webkit-appearance: none;
      color: #CF06F8;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
        border-radius: 25px;
      width: 5px;
      -webkit-appearance: none;
      height: 4px;
      background: #CF06F8;
      box-shadow: -130px 0 0 130px #CF06F8;
    }
}

@media screen and (max-width: 1000px) {
    pre {
        font-size: 1.95vw;
    }
    .dock {
        margin-left: 0;
        margin-right: auto;
        flex-direction: column;
        overflow-y: auto;
        display: none;
    }

    .terminal-window {
        position: absolute;
        top: 28px;
        left: 0;
        background-color: #25273a7c;
        border: 1px solid #12131d2f;
        border-radius: 0px;
        width: 100%;
        height: 527px;
    }

    .terminal-box {
        background: rgba(0, 0, 0, 0.425);
        color: #fff;
        padding: 0 1em;
        border-radius: 3px;
        margin: 2px;
        height: 483px;
    }

    .bar {
        margin: 0;
        border-radius: 0px;
        padding: 5px;
    }

    .dock .horizontial-line {
        display: block;
    }

    .dock .vertical-line {
        display: none;
    }
}