@font-face {
    font-family: "Cantarell";
    src: url('./Cantarell-VF.woff2') format('woff2');
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden !important;
    font-family: 'Cantarell', sans-serif;
    margin: 0;
    padding: 0;
    cursor: url(qogir-cursor_000.png), auto;
}

img {
    display: block;
}

svg {
    filter: drop-shadow(0px 0 20px #000);
}

*::selection {
    background: transparent;
}

.error {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url(./wallpapersden.com_cool-red-mountains-4k_4000x2250.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.terminal-box {
    position: absolute;
    top: 35px;
    left: 13px;
    background: rgba(0, 0, 0, 0.425);
    color: #fff;
    padding: 0 1em;
    border-radius: 3px;
}

.cover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    background-color: rgba(0, 0, 0, 0.300);
    width: auto;
    margin: 5px 13px;
    border-radius: 6px;
    color: #fff;
    padding: 3px;
}

.menubar {
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.menubar-item {
    border-radius: 10px;
    transition: ease .1s;
    width: fit-content;
    padding: 0 20px;
    cursor: default;
}

.menubar-item:nth-child(1){
    border-radius: 5px;
}

.menubar-item:nth-child(3){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 10px;
}

.menubar-item:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

.menubar-item-text {
    padding-top: 1px;
    text-shadow: 0px 0 20px #000;
}

.dock {
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    display: flex;
}

.dock * {
    cursor: default;
}

.dock-item {
    margin: 2px;
    padding: 10px;
    border-radius: 17px;
    transition: ease .1s;
}

.vertical-line {
    width: 1px;
    height: 30px;
    margin: auto 5px;
    background-color: rgba(126, 126, 126, 0.658);
}

.horizontial-line {
    width: auto;
    height: 1px;
    background-color: rgba(126, 126, 126, 0.658);
}

.dock-item:hover {
    background-color: rgba(255, 255, 255, 0.116);
}

.dock-item:active {
    background-color: rgba(255, 255, 255, 0.185);
}

.menu-item-2 {
    background-color: #272A34;
    color: #fff;
    border-radius: 15px;
    border: 0.5px solid rgba(255, 255, 255, 0.137);
    margin: 14px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transition-duration: .1s;
    transition-property: all;
    transform: translateY(20px);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    z-index: 2;
    opacity: 0;
}

.menu-items {
    display: flex;
    margin: 7px;
    font-size: 13px;
    padding: 8px 12px;
    border-radius: 8px;
    transition: ease .1s;
}

.menu-items:hover {
    background-color: #303340;
}

.menu-items span {
    margin-left: 5px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 230px;
      height: 4px;
      border-radius: 25px;
      -webkit-appearance: none;
      background-color: #464953;
      margin: auto 0;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
        border-radius: 25px;
      height: 4px;
      -webkit-appearance: none;
      color: #ff0000;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
        border-radius: 25px;
      width: 5px;
      -webkit-appearance: none;
      height: 4px;
      background: #ff0000;
      box-shadow: -130px 0 0 130px #ff0000;
    }

}

.menu-item-2-active {
    transform: translateY(27px);
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    .error {
        display: block;
    }
    .background {
        display: none;
    }
}